QAbstractButton
{
	border-width:1px;
	border-radius: 10px;
	min-width: 5em;
	min-height: 1em;
	padding: 6px;
	background-color:#666666;
	color: #DDDDDD;
}
QAbstractButton:hover
{
background-color:#888888;
border-radius: 10px;
}
QAbstractButton:pressed
{
background-color:#222222;
border-radius: 10px;
}
QAbstractButton:checked
{
border: none;
}
QAbstractButton:disabled
{
color: #AAAAAA;
}